<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Update Connection</title>
</head>

<body>
    <%- include('../partials/header.ejs')%>
    <div class="login"> 
        <form action="/events/<%=data._id%>?_method=PUT" method="POST">
                <label for="connectionName">Connection Name</label><br>
                <input type="text" id="connectionName" name="connectionName" value="<%= data.connectionName%>" ><br>

                <label for="connectionTopic">Connection Topic</label><br>
                <input type="text" id="connectionTopic" name="connectionTopic" value="<%= data.connectionTopic%>" ><br>

                <label for="details">Details</label><br>
                <input type="text" id="details" name="details" required value="<%= data.details%>"><br>

                <label for="date">Date</label><br>
                <input type="text" id="date" name="date" value="<%= data.date%>" ><br>

                <label for="startingTime">Time</label><br>
                <input type="time" id="startingTime" name="startingTime" value="<%= data.startingTime%>" ><br>

                <label for="endingTime">Time</label><br>
                <input type="time" id="endingTime" name="endingTime" value="<%= data.endingTime%>" ><br>

                <label for="hostName">Host Name</label><br>
                <input type="text" id="hostName" name="hostName" value="<%= data.hostName%>" ><br>

                <label for="imageURL">ImageURL</label><br>
                <input type="text" id="imageURL" name="imageURL" value="<%= data.image%>" ><br>

                <label for="location">Location</label><br>
                <input type="text" id="location" name="location" value="<%= data.location%>"  ><br>

                <input type="submit" value="Submit">
        </form>
        </div>       
    <%- include('../partials/footer.ejs')%>
</body>


</html>