<!DOCTYPE html>
<html>

<head>
	<title>Connections</title>
	<link rel="stylesheet" href="/public/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="UTF-8">
</head>

<body>
	<%- include("../partials/header.ejs") %>
	<div class="articles">
		<% for (let key  of map.keys()) { %>
		<% let connections= map.get(key)  %>	
			<h3><%= key %></h3>
			<% if (connections.length>0) { %>
			<ul>
				<% connections.forEach(connection=> { %>
				<li>
					<a href="/events/<%= connection._id%>" class="event"><%= connection.connectionName %></a>
				</li>				
			</ul>
			<% }) %>			
		<% } %>	
		<% } %>	
	</div>
	<%- include("../partials/footer.ejs") %>
</body>
</html>